@import url("https://fonts.googleapis.com/css2?family=Lato&family=PT+Serif&display=swap");

:root {
  --cell-size: 50px;
  --light-bg: #e9e9e9;
  --accent-bg: #ea6e2f;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  background-color: var(--light-bg);
}

body > * {
  padding: 2em 20%;
}

h1 {
  font-family: "PT Serif", sans-serif;
  letter-spacing: 1px;
  background-color: white;
  margin: 0;
}

.Banner {
  background-color: var(--accent-bg);
  color: white;
  margin: 0;
}

.Game {
  display: flex;
  justify-content: center;
}

.Grid {
  border: 1px solid var(--light-bg);
  position: relative;
}

.Cell {
  border: 1px solid var(--light-bg);
  width: var(--cell-size);
  height: var(--cell-size);
  position: absolute;
  background-color: white;
  z-index: 1;
}

.Robot {
  width: var(--cell-size);
  height: var(--cell-size);
  position: absolute;
  left: 0;
  top: 0;
  font-size: calc(var(--cell-size) * 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 100ms ease-in;
  z-index: 2;
}
